/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-oct-2017, 18:48:41
    Author     : PC03-MAXI
*/


#galeria-input-list{

    list-style: none;
    li{
        display:inline-block;
        width: 49%;

    }


    ul.pagination{

        margin:0;
        li.next{
            width: 100%;
            text-align: center;

        }
    }
    
    #infscr-loading{
        text-align: center;
    }
}